/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts12, span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
a.rvts13, span.rvts13
{
 text-decoration: none;
}
a.rvts14, span.rvts14
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts15
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts16
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #0000ff;
}
span.rvts17
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #007bbf;
}
span.rvts18
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #8cb4d2;
}
span.rvts19
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
span.rvts20
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #0000ff;
}
span.rvts21
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #2f6b55;
}
span.rvts22
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #8b0000;
}
span.rvts23
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
}
span.rvts24
{
 color: #0000ff;
}
span.rvts25
{
 color: #8b0000;
}
span.rvts26
{
 font-weight: bold;
 color: ;
}
span.rvts27
{
 font-weight: bold;
}
span.rvts28
{
 color: #000000;
}
span.rvts29
{
 color: ;
}
span.rvts30
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #ff0000;
}
span.rvts31
{
 color: #2f6b55;
}
span.rvts32
{
 color: #800080;
}
span.rvts33
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #00a5ff;
}
span.rvts34
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts35
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #6666ff;
}
span.rvts36
{
 font-family: 'Courier New', 'Courier', monospace;
 color: ;
}
span.rvts37
{
 font-family: 'Courier New', 'Courier', monospace;
 color: ;
 text-decoration: underline;
}
span.rvts38
{
 font-family: 'Courier New', 'Courier', monospace;
 text-decoration: underline;
}
span.rvts39
{
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
 color: #8cb4d2;
}
span.rvts40
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts41
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #00b050;
}
span.rvts42
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #23503f;
}
span.rvts43
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #ffffff;
}
span.rvts44
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #007bbf;
 background-color: #ffffff;
}
span.rvts45
{
 font-size: 9.5pt;
 font-family: 'Consolas';
 color: ;
 background-color: #ffffff;
}
span.rvts46
{
 font-size: 9.5pt;
 font-family: 'Consolas';
 color: #0000ff;
 background-color: #ffffff;
}
span.rvts47
{
 font-size: 9.5pt;
 font-family: 'Consolas';
 color: #007bbf;
 background-color: #ffffff;
}
span.rvts48
{
 font-size: 9.5pt;
 font-family: 'Consolas';
 color: #8b0000;
 background-color: #ffffff;
}
span.rvts49
{
 font-size: 9.5pt;
 font-family: 'Consolas';
 font-weight: bold;
 color: ;
 background-color: #ffffff;
 text-decoration: underline;
}
span.rvts50
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #23503f;
}
span.rvts51
{
 text-decoration: underline;
}
span.rvts52
{
 color: ;
 text-decoration: underline;
}
span.rvts53
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts54
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts55
{
 font-family: 'Courier New', 'Courier', monospace;
 color: ;
}
span.rvts56
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
span.rvts57
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts58
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #2f6b55;
}
span.rvts59
{
 font-weight: bold;
 color: ;
 text-decoration: underline;
}
span.rvts60
{
 color: #190000;
}
span.rvts61
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #190000;
}
span.rvts62
{
 font-family: 'Consolas';
 font-weight: bold;
 color: #7f0055;
}
span.rvts63
{
 font-family: 'Consolas';
 color: #000000;
}
span.rvts64
{
 font-family: 'Consolas';
 color: #dc321b;
}
span.rvts65
{
 font-family: 'Consolas';
 color: #0000ff;
}
span.rvts66
{
 font-weight: bold;
 color: #800080;
}
span.rvts67
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #800080;
}
span.rvts68
{
 color: #ff0000;
}
span.rvts69
{
 font-family: 'Consolas';
 color: #000000;
 background-color: #e8f2fe;
}
span.rvts70
{
 font-family: 'Consolas';
 font-weight: bold;
 color: #7f0055;
 background-color: #e8f2fe;
}
span.rvts71
{
 font-family: 'Consolas';
 color: #800000;
}
span.rvts72
{
 font-family: 'Consolas';
}
span.rvts73
{
 font-family: 'Consolas';
 font-weight: bold;
}
span.rvts74
{
 font-size: 12pt;
 font-family: 'Consolas';
}
span.rvts75
{
 font-family: 'Consolas';
 color: #190000;
}
span.rvts76
{
 font-weight: bold;
 color: #000000;
}
span.rvts77
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts78
{
 font-family: 'Consolas';
 color: #7f007f;
}
span.rvts79
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00ff;
}
span.rvts80
{
 font-family: 'Consolas';
 color: #ff8c00;
}
span.rvts81
{
 font-size: 11pt;
 font-family: 'consolas';
 color: #555555;
 background-color: #f3f3f3;
}
span.rvts82
{
 font-family: 'Consolas';
 color: #969696;
}
span.rvts83
{
 font-family: 'Consolas';
 color: #ff0000;
}
span.rvts84
{
 font-family: 'Consolas';
 color: #3f7f5f;
}
span.rvts85
{
 font-family: 'Consolas';
 color: #2a00ff;
}
span.rvts86
{
 font-family: 'Consolas';
 color: #3f5fbf;
}
span.rvts87
{
 font-family: 'Consolas';
 font-weight: bold;
 color: #3f7f7f;
}
span.rvts88
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00e1;
}
span.rvts89
{
 font-family: 'Consolas';
 color: #3f7f5f;
 background-color: #e8f2fe;
}
span.rvts90
{
 font-family: 'Consolas';
 color: #008080;
}
span.rvts91
{
 font-family: 'Consolas';
 color: #3f7f7f;
}
span.rvts92
{
 font-family: 'Consolas';
 font-weight: bold;
 color: #7f9fbf;
}
span.rvts93
{
 font-family: 'Consolas';
 color: #7f7f9f;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-indent: 48px;
}
.rvps6
{
 margin: 0px 0px 0px 48px;
}
.rvps7
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps8
{
 text-indent: 48px;
 margin: 0px 0px 0px 96px;
}
.rvps9
{
 margin: 0px 0px 0px 144px;
}
.rvps10
{
 text-align: right;
}
.rvps11
{
 background: #ffffff;
}
.rvps12
{
 background: #000000;
 margin: 10px 0px 10px 0px;
}
.rvps13
{
 text-indent: 48px;
 background: #ffffff;
}
.rvps14
{
 margin: 0px 0px 0px 24px;
}
