/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
a.rvts11, span.rvts11
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 color: #0000ff;
}
span.rvts15
{
 color: #8b0000;
}
span.rvts16
{
 font-weight: bold;
}
span.rvts17
{
 font-size: 14pt;
 font-weight: bold;
 color: ;
}
span.rvts18
{
 color: ;
}
span.rvts19
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts20
{
 font-weight: bold;
 color: ;
}
span.rvts21
{
 color: ;
 text-decoration: underline;
}
span.rvts22
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #e8bf6a;
}
span.rvts23
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #bababa;
}
span.rvts24
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #a5c261;
}
span.rvts25
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #a9b7c6;
}
span.rvts26
{
 color: #ff0000;
}
span.rvts27
{
 font-weight: bold;
 color: #ff0000;
}
span.rvts28
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #808080;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-indent: 48px;
}
.rvps6
{
 text-indent: 48px;
 margin: 0px 0px 0px 96px;
}
.rvps7
{
 background: #2b2b2b;
}
.rvps8
{
 margin: 0px 0px 0px 24px;
}
