body{
	padding: 5px;
	color: #000000;
	background-color: #FFFFFF;
}

textarea {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	min-height: 250px;
	max-height: 100%;
	background-color: #EEE;
}

input {
	margin: 2px;
	padding: 4px;
	width: 80px;
	border: 2px inset gray;
}

button {
	min-width: 150px;
	max-width: 150px;
	width: 150px;
	min-height: 35px;
	max-height: 35px;
	height: 35px;
}

#data{
	padding: 15px;
	min-width: 95%;
	max-width: 95%;
	width: 95%;
	min-height: 300px;
	max-height: 100%;
}

#Energy1, #Energy2 {
	color: red;
}

.tile {
	-webkit-box-shadow: 0 10px 34px rgb(175 196 208 / 47%);
    box-shadow: 0 10px 34px rgb(175 196 208 / 47%);
    border-radius: 10px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    padding: 1em;
}

.amount{
	background-color: #EDF4FF;
}